@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* General */
  body {
    @apply bg-black font-sans text-white;
  }

  p {
    @apply text-base leading-[1.625rem];
  }

  *::placeholder {
    text-transform: uppercase;
  }

  .letter-spacing {
    letter-spacing: 0.14288rem;
  }

  .button {
    @apply letter-spacing border-b-2 border-b-green pb-2 font-bold uppercase leading-[1.625rem] hover:text-green;
  }

  .button--hover {
    @apply text-green;
  }

  button {
    @apply button;
  }

  button:hover {
    @apply button button--hover;
  }

  input,
  textarea {
    @apply w-full border-b border-b-white bg-darkGray pb-4 pl-6 font-medium uppercase leading-[1.625rem] placeholder:font-medium;
  }

  input:active {
    @apply border-b-green;
  }

  .input--error {
    @apply border-b-[#FF6F5B];
  }

  /* Blocks */

  .container {
    @apply mx-auto px-4 md:px-8 lg:px-40;
  }

  .logo {
    @apply text-xl font-bold leading-8;
  }

  .mask {
    mask-image: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
    -webkit-mask-image: linear-gradient(
      180deg,
      rgba(36, 36, 36, 0) 0%,
      #242424 100%
    );
    mask-size: 174px 23.9375rem;
  }

  .masked {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .info {
    @apply flex flex-col justify-center gap-y-5 text-center md:flex-row md:items-center md:justify-between;
  }

  /* Social */

  .social {
    @apply flex justify-center gap-x-6;
  }

  .social__icon {
    @apply h-[20px] fill-green;
  }

  /* Projects */

  .projects {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 768px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.25rem;
      grid-row-gap: 3.75rem;
    }
  }

  .project__title {
    @apply mt-5 text-xl font-bold uppercase leading-10;
  }

  .project__tags {
    @apply mt-2 flex gap-x-4;
  }

  .project__tag {
    @apply text-lg font-medium uppercase text-grey;
  }

  .project__links {
    @apply mt-5 flex gap-x-8;
  }

  .project__link {
    @apply button text-base;
  }

  /* Skill */

  .skills {
    @apply grid border-b border-t border-b-white border-t-white py-10 md:border-b-0 md:pb-[6.25rem] md:pt-[3.25rem] lg:pb-[8.75rem] lg:pt-[4.5rem];
    width: 100%;
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    .skills {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 3.25rem;
      text-align: left;
    }
  }

  @media screen and (min-width: 1440px) {
    .skills {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 3.5rem;
    }
  }

  .skill {
    @apply text-center md:flex md:flex-col md:gap-4 md:text-left;
  }

  .skill__name {
    @apply text-3xl font-bold leading-10 md:text-5xl;
  }

  .skill__experience {
    @apply text-base leading-[1.625rem] text-grey md:text-lg;
  }
}
